.buttons input {
  border: 3px solid black;
  height: 5vh;
  width: 100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: orange;
  display: flex;
  font-size: medium;
  color: white;
  margin: 10px;
  border-radius: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;
}
