h1 {
  padding-top: 10px;
  text-align: center;
  color: #cafffb;
  // font-family: "Blackjack", Arial, Helvetica, sans-serif;
  font-size: 70px;
  font-weight: bolder;
}
h2 {
  text-align: center;
  color: #cafffb;
  padding: 5px;
}
