// Game result display
.display-result {
  h2 {
    background-color: #32bf84;
    width: 15em;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 3px groove #32bf84;
    border-radius: 10px;
    font-family: "Blackjack", Arial, Helvetica, sans-serif;
    font-size: 26px;
    text-align: center;
    color: firebrick;
  }
}
